body {
background : #c6b1bd;
text-align:center;
}
#main {
	width:1000px;
	height:1000px;
	background:#dcc5d3;
	margin:25px auto;
	border: solid 2px #766a71 ;
}
h1{
	text-align: center;
	font-family:;
	font:75pt;
	color:#766a71;
}

img{
	position:absolute;
	right:200px;
	top:300px;
	z-index:1;
	
	
	
}